.info label,
.info input,
textarea {
  display: block;
}

.submit {
  margin-top: 10px;
  background-color: darkcyan;
  color: rgb(255, 255, 255);
  padding: 7px 15px;
  border: none;
  border-radius: 3px;
}

.submit:hover {
  cursor: pointer;
  background-color: rgb(112, 186, 189);
  color: black;
}

.info {
  margin-top: 10px;
}
